In [48]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\jayan\appdata\roaming\python\python311\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\jayan\appdata\roaming\python\python311\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jayan\appdata\roaming\python\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\jayan\appdata\roaming\python\python311\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\jayan\appdata\roaming\python\python311\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\jayan\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [49]:
import pandas as pd

In [50]:
data = pd.read_csv('J:\Folders\Downloads\how2sign_realigned_val - how2sign_realigned_val.csv')
data.head()

,VIDEO_ID,VIDEO_NAME,SENTENCE_ID,SENTENCE_NAME,START_REALIGNED,END_REALIGNED,SENTENCE
0,-d5dN54tH2E,-d5dN54tH2E-1-rgb_front,-d5dN54tH2E_0,-d5dN54tH2E_0-1-rgb_front,12.97,19.52,We're going to work on a arm drill that will h...
1,-d5dN54tH2E,-d5dN54tH2E-1-rgb_front,-d5dN54tH2E_1,-d5dN54tH2E_1-1-rgb_front,20.65,24.28,I call it painting the wall.
2,-d5dN54tH2E,-d5dN54tH2E-1-rgb_front,-d5dN54tH2E_10,-d5dN54tH2E_10-1-rgb_front,85.50,87.83,So we're going to go up and down; let's switch...
3,-d5dN54tH2E,-d5dN54tH2E-1-rgb_front,-d5dN54tH2E_11,-d5dN54tH2E_11-1-rgb_front,87.84,93.62,And just let those fingers relax.
4,-d5dN54tH2E,-d5dN54tH2E-1-rgb_front,-d5dN54tH2E_12,-d5dN54tH2E_12-1-rgb_front,94.26,101.39,Now together you're going to go opposite.

In [51]:
data.columns

Index(['VIDEO_ID', 'VIDEO_NAME', 'SENTENCE_ID', 'SENTENCE_NAME',
       'START_REALIGNED', 'END_REALIGNED', 'SENTENCE'],
      dtype='object')

In [52]:
data['SENTENCE_NAME']

0        -d5dN54tH2E_0-1-rgb_front
1        -d5dN54tH2E_1-1-rgb_front
2       -d5dN54tH2E_10-1-rgb_front
3       -d5dN54tH2E_11-1-rgb_front
4       -d5dN54tH2E_12-1-rgb_front
                   ...
1736     fyI1Ev5m1w4_5-8-rgb_front
1737     fyI1Ev5m1w4_6-8-rgb_front
1738     fyI1Ev5m1w4_7-8-rgb_front
1739     fyI1Ev5m1w4_8-8-rgb_front
1740     fyI1Ev5m1w4_9-8-rgb_front
Name: SENTENCE_NAME, Length: 1741, dtype: object

In [53]:
data.shape

(1741, 7)

In [54]:
def match_sentence(row):
    return row['SENTENCE_NAME']==row['SENTENCE']

In [55]:
data['Match']=data.apply(match_sentence, axis=1)

In [56]:
data.head()

,VIDEO_ID,VIDEO_NAME,SENTENCE_ID,SENTENCE_NAME,START_REALIGNED,END_REALIGNED,SENTENCE,Match
0,-d5dN54tH2E,-d5dN54tH2E-1-rgb_front,-d5dN54tH2E_0,-d5dN54tH2E_0-1-rgb_front,12.97,19.52,We're going to work on a arm drill that will h...,False
1,-d5dN54tH2E,-d5dN54tH2E-1-rgb_front,-d5dN54tH2E_1,-d5dN54tH2E_1-1-rgb_front,20.65,24.28,I call it painting the wall.,False
2,-d5dN54tH2E,-d5dN54tH2E-1-rgb_front,-d5dN54tH2E_10,-d5dN54tH2E_10-1-rgb_front,85.50,87.83,So we're going to go up and down; let's switch...,False
3,-d5dN54tH2E,-d5dN54tH2E-1-rgb_front,-d5dN54tH2E_11,-d5dN54tH2E_11-1-rgb_front,87.84,93.62,And just let those fingers relax.,False
4,-d5dN54tH2E,-d5dN54tH2E-1-rgb_front,-d5dN54tH2E_12,-d5dN54tH2E_12-1-rgb_front,94.26,101.39,Now together you're going to go opposite.,False

In [57]:
df=data[['SENTENCE_NAME','SENTENCE','Match']]
df.head()

,SENTENCE_NAME,SENTENCE,Match
0,-d5dN54tH2E_0-1-rgb_front,We're going to work on a arm drill that will h...,False
1,-d5dN54tH2E_1-1-rgb_front,I call it painting the wall.,False
2,-d5dN54tH2E_10-1-rgb_front,So we're going to go up and down; let's switch...,False
3,-d5dN54tH2E_11-1-rgb_front,And just let those fingers relax.,False
4,-d5dN54tH2E_12-1-rgb_front,Now together you're going to go opposite.,False

In [58]:
X=data['SENTENCE_NAME']
Y=data['SENTENCE']

In [59]:
X.head()

0     -d5dN54tH2E_0-1-rgb_front
1     -d5dN54tH2E_1-1-rgb_front
2    -d5dN54tH2E_10-1-rgb_front
3    -d5dN54tH2E_11-1-rgb_front
4    -d5dN54tH2E_12-1-rgb_front
Name: SENTENCE_NAME, dtype: object

In [60]:
Y.head()

0    We're going to work on a arm drill that will h...
1                         I call it painting the wall.
2    So we're going to go up and down; let's switch...
3                    And just let those fingers relax.
4            Now together you're going to go opposite.
Name: SENTENCE, dtype: object